@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  margin: 10px;
  padding: 10px;
}

header img {
  display: block;
  width: 200px;
  margin: 10px auto;
}

header h1 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Gowun Dodum';
}

header h1 a {
  text-decoration: none;
  color: rgb(62, 92, 133);
}

header h1 a:hover {
  color: rgb(22, 44, 75);
}

header h5 {
  font-family: "Gowun Batang";
  color: rgb(64, 123, 212);
  text-align: center;
}

#content {
  width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

#left_content {
  width: 37%;
  background-color: cadetblue;
  float: left;
  height: 790px;
  
}

#r0 p {
  font-size: 85%;
  text-align: justify;
}



#right_content {
  width: 63%;
  background-color: rgb(239, 243, 239);
  float: right;
  height: 790px;
}

.r {
  margin: 10px;
  padding: 10px;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  font-family: "IBM Plex Sans KR";
}

.r h2 {
  border-left: 10px solid rgb(75, 106, 132);
  padding-left: 10px;
  margin: 10px 0 15px 0;
}

#r1 p, #r3 p {
  background-image: url(../images/img1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 10px;
}

#r2 ul li {
  list-style-type: none;
}

#r3 p {
  background-image: url(../images/img2.png);
  background-size: 40px;
}

#r4 p {
  margin-bottom: 15px;
}

#r5 p {
  margin-bottom: 15px;
}

#pagetop {
  position: fixed;

  right: 30px;
  bottom: 30px;
}